body{
    background-color: rgba(12, 242, 169, 0.768);
    color: rgb(6, 160, 39);
    font-family: "Oswald", sans-serif;
    margin: 0px;
}
header{
    font-size: 50px;
    border:dashed 5px rgb(5, 87, 5);
    text-align: center;
   /* margin: 30px;*/
   padding: 5px;
}
h1{
    font-size: 35px;
}
p{
    font-size: 20px;
}