body{
    background-color: rgba(67, 134, 189, 0.897);
    color: rgb(74, 184, 199);
    font-family: "Oswald", sans-serif;
    margin: 0px;
}
header{
    font-size: 50px;
    border:dashed 5px rgb(39, 5, 87);
    text-align: center;
   /* margin: 30px;*/
   color: rgb(24, 72, 168);
   padding: 5px;
}
h1{
    font-size: 35px;
}
p{
    font-size: 20px;
}

section{
background-color:rgb(33, 61, 117) ;
padding-bottom: 80px;
display: flex;
justify-content: center;

}
.chamada-texto{
    margin-right: 10%;
}

